@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400&subset=latin-ext');

@font-face {
    font-family: 'Google Sans';
    src: url("./fonts/GoogleSans-Regular.ttf") format('truetype');
}

html, body {
    height: 100%;
}

body {
    font-family: "Google Sans", sans-serif;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1300px;
    }
}

a {
    color: #3d6594;
}

a:hover {
    text-decoration: none;
}

