@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400&subset=latin-ext');

@font-face {
    font-family: 'Google Sans';
    src: url("./fonts/GoogleSans-Regular.ttf") format('truetype');
}

html, body {
    height: 100%;
}

body {
    font-family: "Google Sans", sans-serif;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1300px;
    }
}

a {
    color: #3d6594;
}

a:hover {
    text-decoration: none;
}


.pagination {
    background: #ebebeb;
    color: #222;
    font-size: 13px;
    padding: 10px;
    line-height: 1.8;
}

.pagecurrent {
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    background: #505050;
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
    margin: 0 2px;
}

.pagelink {
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    background: #fff;
    vertical-align: middle;
    text-decoration: none;
    margin: 0 2px;
    cursor: pointer;
}

.pagelink a{
    color: #444;
}

a .pagelink {
    color: #444;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #FFFFFF;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #F2F2F2;
}
